<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="onClose()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Ordem de Serviço: {{ osData[0].id.toString().padStart(4, '0') }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item lines="none">
            <ion-icon class="ion-no-padding ion-no-margin icon" name="person-outline" color="primary" slot="start"></ion-icon>
            <ion-label>
              <h2>Nome do solicitante</h2>
              <p> {{ osData[0].solicitante_nome }} </p>
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-icon class="ion-no-padding ion-no-margin icon" name="mail-outline" color="primary" slot="start"></ion-icon>
            <ion-label>
              <h2>E-mail do solicitante</h2>
              <p> {{ osData[0].solicitante_email }} </p>
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-icon class="ion-no-padding ion-no-margin icon" name="briefcase-outline" color="primary" slot="start"></ion-icon>
            <ion-label>
              <h2>Instituição</h2>
              <p> {{ osData[0].setor_principal_nome }} </p>
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-icon class="ion-no-padding ion-no-margin icon" name="location-outline" color="primary" slot="start"></ion-icon>
            <ion-label>
              <h2>Setor</h2>
              <p> {{ osData[0].setor_secundario_com_bloco }} </p>
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-icon class="ion-no-padding ion-no-margin icon" name="build-outline" color="primary" slot="start"></ion-icon>
            <ion-label>
              <h2>Categoria</h2>
              <p> {{ osData[0].tipo_servico_nome }} </p>
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-icon class="ion-no-padding ion-no-margin icon" name="calendar-outline" color="primary" slot="start"></ion-icon>
            <ion-label>
              <h2>Data de solicitação</h2>
              <p> {{ osData[0].data_solicitacao | date:'dd/MM/yyyy' }} </p>
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-icon class="ion-no-padding ion-no-margin icon" name="reader-outline" color="primary" slot="start"></ion-icon>
            <ion-label>
              <h2>Descrição</h2>
              <p> {{ osData[0].descricao }} </p>
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-icon class="ion-no-padding ion-no-margin icon" name="construct-outline" color="primary" slot="start"></ion-icon>
            <ion-label>
              <h2>Técnico responsável</h2>
              <p> {{ osData[0].tecnico_nome }} </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-accordion-group [disabled]="(osData[0].images?.type1?.length ?? 0) === 0">
          <ion-accordion>
            <ion-item lines="none" slot="header">
              <ion-icon class="ion-no-padding ion-no-margin icon" name="camera-outline" color="primary" slot="start"></ion-icon>
              <ion-label>
                Imagens da solicitação
              </ion-label>
            </ion-item>

            <ion-item lines="none" class="ion-margin-top" *ngFor="let image of osData[0].images?.type1" slot="content">
              <ion-img [src]="image.img_key"></ion-img>
            </ion-item>
          </ion-accordion>
        </ion-accordion-group>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="full"></ion-item>
      </ion-col>
    </ion-row>

    <form (ngSubmit)="onConcludeOs()">
    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-icon class="ion-no-padding ion-no-margin icon" name="receipt-outline" color="primary"></ion-icon>
          <ion-label>
            <h2>Relatório</h2>
          </ion-label>

          <ion-textarea
            label="Digite aqui o relatório do serviço realizado"
            labelPlacement="floating"
            [autoGrow]="true"
            name="relatorio"
            [(ngModel)]="relatorio"
          ></ion-textarea>
        </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item lines="full" class="ion-margin-top">
            <ion-icon class="ion-no-padding ion-no-margin icon" name="clipboard-outline" color="primary"></ion-icon>
            <ion-label>
              <h2>Materiais</h2>
            </ion-label>

            <ion-textarea
              label="Digite aqui os materiais utilizados"
              labelPlacement="floating"
              [autoGrow]="true"
              name="materiais"
              [(ngModel)]="materiais"
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin-top gallery">
        <ion-col>
            <app-photo-gallery (imagePick)="onImagePick($event)"></app-photo-gallery>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin-top">
        <ion-col>
          <ion-item lines="full"></ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block" class="ion-padding">
            Concluir OS
            <ion-icon class="ion-padding-horizontal" name="build-outline" slot="end"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
