<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="dashboard">
      <ion-label>Dashboard</ion-label>
      <ion-icon name="build-outline"></ion-icon>
    </ion-tab-button>

    <!-- <ion-tab-button tab="new-os">
      <ion-label>Nova OS</ion-label>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-tab-button> -->

    <ion-tab-button tab="profile">
      <ion-label>Perfil</ion-label>
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
