<ion-grid>
  <ion-row>
    <ion-col *ngFor="let photo of photoService.photos; index as position">
      <ion-img [src]="photo.webviewPath"></ion-img>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button expand="block" color="secondary" class="ion-padding" (click)="addPhotoToGallery()">
        <ion-label>Selecionar foto</ion-label>
        <ion-icon name="camera" slot="end" class="ion-padding-horizontal"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

