<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-text-center ion-margin-top" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-item lines="none" class="ion-text-left box">
            <ion-icon class="ion-no-padding ion-no-margin icon" name="construct-outline" color="primary" slot="start"></ion-icon>
            <h5>Ordens Totais: {{ orderServices.length }} </h5>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card *ngFor="let orderService of orderServices" button (click)="onShowOs(orderService.id)">
          <ion-card-header>
            <ion-card-title>ID: {{ orderService.id.toString().padStart(4, '0') }} </ion-card-title>
            <ion-card-subtitle>Status OS: {{ orderService.status_os }} </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-list class="ion-no-padding">

              <ion-item lines="none" class="ion-no-padding field">
                <ion-icon name="alarm-outline" color="primary" class="ion-no-margin icon"></ion-icon>
                <ion-label>
                  <h2> {{ orderService.nivel_prioridade }} </h2>
                </ion-label>
              </ion-item>

              <ion-item lines="none" class="ion-no-padding field">
                <ion-icon name="briefcase-outline" color="primary" class="ion-no-margin icon"></ion-icon>
                <ion-label>
                  <h2> {{ orderService.setor_principal_nome }} </h2>
                </ion-label>
              </ion-item>

              <ion-item lines="none" class="ion-no-padding field">
                <ion-icon name="location-outline" color="primary" class="ion-no-margin icon"></ion-icon>
                <ion-label>
                  <h2> {{ orderService.setor_secundario_com_bloco }} </h2>
                </ion-label>
              </ion-item>

              <ion-item lines="none" class="ion-no-padding field">
                <ion-icon name="build-outline" color="primary" class="ion-no-margin icon"></ion-icon>
                <ion-label>
                  <h2> {{ orderService.tipo_servico_nome }} </h2>
                </ion-label>
              </ion-item>

              <ion-item lines="none" class="ion-no-padding field">
                <ion-icon name="calendar-outline" color="primary" class="ion-no-margin icon"></ion-icon>
                <ion-label>
                  <h2> {{ orderService.data_solicitacao | date:'dd/MM/yyyy' }} </h2>
                </ion-label>
              </ion-item>

            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
